.table-container {
  padding: 20px 10px;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 6.25%;
  border: 1px solid black;
  padding-bottom: 6.25%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.cell-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .drawn-x {
    width: 70%;
    aspect-ratio: 1;
    stroke: black;
    stroke-width: 10;
    stroke-linecap: round;
  }
}
.pre-filled {
  background-color: lightgray;
}